<!doctype html>
<html lang="en">
    <head>
       <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!--FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <!-- Los iconos tipo Solid de Fontawesome-->
        <link rel = "stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
            <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
            <!-- Nuestro css-->
            <link rel="stylesheet" href="../css/login.css">
            
            <title> Registro</title>
        </head>

        <body>
            <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container">
                    <a class="navbar-brand" href="index.html"><img
                            src="../img/LogoMakr_6XCbnL.png"
                            class="logo-branc" alt="logo"></a>
                        </div>
                    </nav>
                </header>
                <div class="modal-dialog text-center">
                    <div class="col-5m-8 main-section">
                        <div class="modal-content">
                            <div class="col-12 user-img">
                                <img src="/img/userr.png" alt="">
                            </div>
                            
                            <form class="col-12">
                                <div class="form-group" id="user-group">
                                    <input type="text" id="usuario" class="form-control"
                                        placeholder="Nombre de usuario">
                                </div>
                                <div class="form-group" id="password-group">
                                    <input type="password" id="contrasena"class="form-control"
                                        placeholder="Contraseña">
                                </div>
                               
                                
                                <div class="row">
                                    <div class="col-sm-6" >
                                        
                                        <div class="form-group" id="Nombre-group">
                                            
                                            <input type="text" id=primernombre class="form-control"
                                                placeholder="Primer nombre">
                                        </div>
                                        
                                    </div>
                                    <div class="col-sm-6" ">
                                        <div class="form-group" id="Nombre2-group">
                                            <input type="text" id="segundonombre"class="form-control"
                                            placeholder="Segundo nombre">
                                        </div>
                                    </div>

                                  </div>

                               
                                  <div class="row">
                                    <div class="col-sm-6" >
                                        
                                        <div class="form-group" id="Apellido-group">
                                            <input type="text" id=primerapellido class="form-control"
                                            placeholder="Primer apellido">
                                        </div>
                                        
                                    </div>
                                    <div class="col-sm-6" ">
                                        <div class="form-group" id="Apellido2-group">
                                            <input type="text" id="segundoapellido"class="form-control"
                                            placeholder="Segundo apellido">
                                        </div>
                                    </div>

                                  </div>
                            
                                

                                

                                <div class="form-group" id="correo-group">
                                    <input id="emailUser" type="text" class="form-control"
                                    placeholder="Ingrese su correo electronico ">
                                </div>
                                
                                
                            </form>
                            <button onclick="agregarDatos()" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>Registrar</button>
                        </div>
                    </div>
                </div>
                
            </div>
            

            

 <!--Firbase-->
 <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>
 <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-firestore.js"></script>
 <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-auth.js"></script>

<!-- Initialize Firebase -->
<script src="../js/registro.js"></script>

        </body>
    </html>