
   
    <body>
        <div class="row" id="cabecera"  >
             
        </div>

        <div class="Nombre profile col-sm-12 main-section text-center" id="nombre">
            <div class="d-flex justify-content-center">
            <div class="logocentrado">
                <img src="/img/user.png" alt="logo" class="brand_logo">
            </div>
        </div>
                 
        </div>
       <div class="datos">
        <div class="datos1 ml-4 d-flex justify-content-center">
            <h2>Ingeniero de Sistemas</h2>

        </div>
        <div class="ml-4 d-flex justify-content-center">
            <h1>Jeisson Lopez</h1>
        </div>
            <div class="ml-4 d-flex justify-content-center">
                <h1>Especializacion en administracion </h1>
            </div>
       </div>


        <div class="row ml-4 d-flex justify-content-center" id="cards">

        <div class="card m-2" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Link</a>
            </div>
          </div>
          

          


          <div class="card m-2" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card m-2" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          
           


        </div>
        <div class="row d-flex justify-content-center" id="CardInferiores" >
            <div class="card  m-2" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
              
              <div class="card  m-2" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card  m-2" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

              <div class="card  m-2" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>


        </div>




    </body>
    <footer>
<div class="footer d-flex justify-content-center">
        <h4 class="text-white">@2020. diseño y Desarrollo que casi no termino: Jeisson Leonardo Lopez Espinosa</h4>
</div>
<div>


</div>
    </footer>
</html>